html {
    height: 100%
}
body {
    background-image: url("../img/background.png");
    padding-bottom: 1.2rem;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
.header{
    color:white;
}
/* Custom page footer */
#footer {
    position: relative;
    top: 1rem;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;           
}

h2, h3{
    padding-top: 2rem;
    font-family: 'Margarine';
    color:white;
    text-align:center;
    margin-bottom: 2rem;
}

h4{
    color:white;
    font-size: 28px;
}
p, dt{
    font-family: 'Margarine';
    letter-spacing: 0.1rem;
    margin-top: 0rem;
    color:white;
    font-size: 20px;
    margin-bottom: 0.8rem;
}

#chat{
    position: absolute;
    top: 110px;
    right: 250px;
}
#settings{
    position: absolute;
    top: 110px;
    right: 150px;
}
#log-out{
    position: absolute;
    top: 110px;
    right: 50px;
}

#user-name{
    position: absolute;
    top:60px;
    right: 50px;
}

/*Chat box styling */
.chat{
    width: 95%;
    height: 490px;
    position: relative;
    margin:auto;
}  

.chat-window{
    height: 470px;
    overflow-y: scroll;
    padding-bottom: 65px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    -webkit-box-shadow: 22px 24px 18px -10px rgba(0,0,0,0.35);
    -moz-box-shadow: 22px 24px 18px -10px rgba(0,0,0,0.35);
    box-shadow: 22px 24px 18px -10px rgba(0,0,0,0.35);
}

#messageForm{
    background-color: rgb(59, 161, 187);
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#msg-input{
    padding: 10px;
    border-radius: 20px;
    width: 85%;
    margin-left: 2%;
}

#msg-btn{
    width: 9%;
    padding: 9px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    font-size: large;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 1%;
}

#msg-btn:hover{
    background-color: rgb(5, 153, 116);
}

.msg{
    list-style-type: none;
}

.msg-span{
    display: inline-block;
    padding:10px;
    border-radius: 20px;
    font-size: large;
    background-color: #fad7bf;
    color: black;
    margin: 15px 5px 0px 0px;
    text-align: left;
}
.name{
    font-weight: bold;
}

.my{
    text-align: right;
}

.my span{
    color: white;
    background-color: rgb(47, 118, 121);
    margin-right: 20px;
}

.my i{
    display:none;
}

/*Scroll styling */

/* width */
#chat-window::-webkit-scrollbar {
    width: 10px;
    height: 50%;
}
  
/* Track */
#chat-window::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
}

/* Handle */
#chat-window::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px grey; 
    background:rgb(82, 196, 133);
    border-radius: 20px;
}

/* Handle on hover */
#chat-window::-webkit-scrollbar-thumb:hover {
    background:rgb(5, 190, 144); 
}

.logo{
    width: 160px;
    height: 160px;
}

.center-logo{
    width: 160px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
